
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

:root {
   --main-background-color: #48A30012;;
   --primary-text-color: #48A300;
   --secondary-text-color: #61481C;;
  --main-text: #333;
}
.secondary-color {
  color: var();
}

body {
  background-color: var(--main-background-color);
  font-family: "Poppins", sans-serif; 
}

.heading {
  color: var(--primary-text-color);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 64px;
}

.heading span {
  color: var(--secondary-text-color);
}